.recipes {
  height: 500px;
  overflow-y: auto;
}
.title is-1 {
  color: bisque;
}
.table {
  font-family: 'Ephesis', cursive;
  font-size: 19px;
  padding: 4px;
  margin: 50px;
  position: center;
  border-radius: 7px;
  background-color: grey;
  color: white;
  font-size: 16px;
}
body {
  background-color: black;
  font-family: 'Italianno', cursive;
  padding: 20px;
}
.footer {
  color: white;
  padding: 20px;
  margin: 0px;
  background-color: grey;
}
.card {
  margin: 15px;
  background-color: cadetblue;
  font-size: 23px;
  font-family: 'Italianno', cursive;
}
#type {
  background-color: antiquewhite;
  font-family: 'Italianno', cursive;
  font-size: 16px;
}
header {
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/150/556/large_2x/healthy-mediterranean-diet-ingredients-for-italian-meal-on-black-background-free-photo.jpg');
  height: 400px;
  background-image: cover;
  background-size: 100%;
  color: white;
  font-size: 90px;
}
a {
  color: antiquewhite;
  font-size: 16px;
}
#diet {
  background-color: antiquewhite;
  font-family: 'Italianno', cursive;
  font-size: 16px;
}
#cuisine {
  background-color: antiquewhite;
  font-family: 'Italianno', cursive;
}
#Intolerances {
  background-color: antiquewhite;
  font-family: 'Italianno', cursive;
  font-size: 16px;
}
#submit {
  background-color: antiquewhite;
  font-family: 'Italianno', cursive;
  border-radius: 3px;
  box-shadow: black;
}
.card-content {
  text-align: center;
  background-color: rgba(153, 160, 95, 0.692);
}

